version: '3.7'

services:

  redis:
    image: redis:latest
    container_name: flymile-redis-test
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data: